@using Resume.Bus.Extentions
@using Resume.DLA.ViewModels.Job
@model FilterJobViewModel

<div class="card">
    <div class="header">
        <h2>
            @ViewData["Title"]
        </h2>
    </div>
    <div class="body table-responsive">
        @if (Model != null && Model.Entities != null && Model.Entities.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>آیدی</th>
                        <th>عنوان</th>
                        <th>تاریخ شروع</th>
                        <th>تاریخ پایان</th>
                        <th>تاریخ ثبت</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Entities)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Start.ToShamsiJustDate()</td>
                            <td>@(item.End.HasValue ? item.End.Value.ToShamsiJustDate() : "")</td>
                            <td>@item.CreateOn.ToShamsi()</td>
                            <td>
                                <a type="button" class="text-info" onclick="showEditModalJob(@item.Id)">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a type="button" class="text-info" onclick="showDeleteModalJob(@item.Id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <partial name="_AdminPagination" model="@Model.GetCurrentPaging()" />
        }
        else
        {
            <partial name="_AdminNotFound" />
        }
    </div>
</div>